clock, x-clock {
  .wrapper {
    width: 300px;
    height: 40px;
    border: 1px solid #000000;
    margin: 20px 0 20px 0;
    padding-top: 13px;
    text-align: center;

    .datetime {
      font-weight: bold;
    }
  }
}
